body{
    background-color: rgb(245, 226, 191);
}
h1{
    font-family: cursive,'Times New Roman', Times, serif,sans-serif;
    color: brown;
    text-align: center;
}
a{
   color: rgb(59, 59, 236);
}
li{
}